.outerGameExample {
	background-color: #dddddd;
	text-align: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	display: block;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 10px 5px -5px #888888;
	height: 300px;
	width: 250px;
	line-height: 50px;
}
/* .outerGameExample :hover {
	height: 30vh;
	width: 250px;
} */

.game-button {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	/* display: block; */
}

.GameExample-bottom {
	display: block;
}
.game-button {
	color: whitesmoke;
	background-color: black;
	border: none;
	width: 40%;
	height: 40px;
	padding: 8px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 25px;
}

#game-header {
	text-shadow: 20px 20px 15px 5px #888888;
}
