.room-button {
	border: none;
	width: 100%;
	display: grid;
	/* text-align: left; */
	justify-content: stretch;
	/* align-items: center; */
	cursor: pointer;
	outline: 0;
	/* vertical-align: baseline; */
	font-weight: 700;
	font: 400 13.3333px Arial;
	height: 25px;
	margin-bottom: 3px;
}
.room-button:hover {
	background-color: #cffff8;
}
.room-button-name {
	text-align: left;
	/* width: 50%; */
	margin: 0;
	/* display: block; */
}
.room-num-users {
	text-align: right;
	/* width: 50%; */
	margin: 0;

	/* display: block; */
}
/* .room-button:nth-child(odd) {
	background-color: #ffffff;
} */
