.room-button {
	border: none;
	width: 100%;
	display: grid;
	justify-content: stretch;
	cursor: pointer;
	outline: 0;
	font-weight: 700;
	font: 400 13.3333px Arial;
	height: 25px;
	margin-bottom: 3px;
	/* text-align: left; */
	/* align-items: center; */
	/* vertical-align: baseline; */
	display: inline-block;
}
.room-button:hover {
	background-color: #cffff8;
}
.room-button-name {
	text-align: left;
	float: left;
	margin: 0;
	width: 200px;
}
.room-num-users {
	text-align: right;
	float: right;

	margin: 0;
	/* display: inline-block; */

	width: 200px;
	/* display: block; */
}
.room-button:focus {
	background-color: rgb(91, 91, 221);
}
/* .room-button:nth-child(odd) {
	background-color: #ffffff;
} */
