.flexContainer {
	display: grid;
	flex-flow: wrap;
	/* align-items: center; */
	/* flex-direction: row-reverse; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* margin: auto auto; */
	display: block;
}
.GameExample {
	display: block;
	margin: 30px auto;
}
.header {
	display: block;
	text-align: center;
}

body {
	background: #c7cacc; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #c7cacc, #717b85) no-repeat
		fixed center; /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #c7cacc, #717b85) no-repeat fixed
		center; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
