.ChatBox {
	height: 600px;
	width: 350px;
	background-color: #e6e8f0;
	border: 1px solid grey;
	display: flex;
	flex-direction: column-reverse;
	border-radius: 2px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-container {
	width: 350px;
	max-width: 350px;
	min-width: 350px;
}
.ChatInput {
	align-items: flex-end;
	height: 30px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px;
	border: 1px solid grey;
	border-radius: 2px;
	background-color: #d6f4ff;
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.messageBoxIn {
	background-color: #389fff;
	max-width: 300px;
}
.messageBoxOut {
	background-color: #f2f4fa;
	max-width: 300px;
}

.outerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
	background-color: #1a1a1d;
	margin-left: 40px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffffff;
	height: 100%;
	width: 100%;
}

.collapsed {
	display: none;
}

.messages {
	padding: 5% 0;
	overflow: auto;
	flex: auto;
	max-width: 350px;
	max-height: 480px;
}
