.flexContainer {
	display: flex;
	/* align-items: flex-end;
  justify-content: flex-end; */
	justify-content: space-evenly;
	padding: 30px;
	/* border-radius: 10px; */
	width: 100%;
	/* overflow: auto; */
}

.game-room-container {
	border-radius: 10px;
}

.hide-chat {
	display: none;
}
.show-chat {
	display: block;
}

.show-minimized-chat {
}

.hide-minimized-chat {
	display: none;
}
