.minimized-chat-btn {
	height: 35px;
	width: 60px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #2979ff;
}
.minimized-chat-icon {
	height: 24px;
	width: 24px;
	margin: auto;
	z-index: 2;
	bottom: 10px;
	position: sticky;
	color: aliceblue;
}

.minimized-chat {
	bottom: 10px;
	position: sticky;
	align-self: flex-start;
}
